---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file
  

/**************/
/* BASE RULES */
/**************/


body {
  color: $darkGray;
  background-color: $white;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: $serif;
  color: $green;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}
.posts { 
  overflow: scroll;
  height: 100%;

  @include mobile {
    padding: 0 15px;
  }
}

.page {
	max-width: 100%;
  @include mobile {
    padding: 15px;
  }
}

.svg-icon:hover {
  opacity: 75;
}

.entry img {
  max-width: 500px;
  display: block;
  margin: auto;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
	margin: 15px 0;
}

p,
a,
.post, 
.entry {
  font-family: $sans-serif;
  line-height: normal;
}

.post, 
.entry {
  font-family: $sans-serif;
  line-height: normal;
  @include mobile{
    padding: 0 15px;
  }
}

a {
  color: $green;
  text-decoration: none;
	font-family: $serif;
	cursor: pointer;
  &:hover, &:active {
    color: $orange;
  }
}

ul, ol {
	margin: 15px 0;
	padding-left: 30px;
	font-family: $sans-serif;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, 
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: 700;
}


// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $green;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 30px;

}

// /****************/
// /* INTRO / PAGE */
// /****************/

.left, .right {
  margin: auto;
}

.left {
  max-width: 100%;
  text-align: center;
}

// .right {
//   float: right;
//   text-align: right;
//   max-width: 25%;
// }

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $sans-serif;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin: 23px 23px 0 0; // @TODO: Vertically middle align
  font-family: $sans-serif;
  font-size: 18px;

  @include mobile {
    display: -webkit-flex;
    display: flex;
    float: none;
    justify-content: center;
    font-size: 16px;
  }

  a {
	  margin: 20px 10px 0 10px;
	  color: $green;
	  text-align: right;
	  float: right;
	  font-weight: 300;
	  letter-spacing: 1px;
	  font-family: $serif; 

    @include mobile {
      margin: 0 10px;
      color: $green;
    }
  }
}

aside { 
	&::-webkit-scrollbar {
		display: none;
	}

   @include mobile {
      display: none;
    }

}



//
// .main
//

.main {
	@include mobile {
    padding: 15px;
  }
}

.main-text {
	max-width: 80%;
	margin: 0;
   @include mobile {
      margin: 0;
      width: 100%;
      position: relative;
    }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  background: rgba(255,255,255,0.5);
  margin: auto;
  display: block;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
      @include mobile {
      margin: 0;
      width: 100%;
      position: fixed;
    }
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";




.fp-Flex {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.phopho {
    position: absolute;
    top:0;
    right:0;
    height: 100vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    //     z-index: 1;
    }

.portfolio-nav {
  float: none;
  margin: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    z-index: 100;
    position: fixed;
    margin: 1em 0 1em 1em;
    li {
        list-style-type: none;
        padding: 0 1em;
    }
}

.fp-slide, .slide {
    display: flex;
    align-items: center;
}


.left-Content {
    margin-left: 5rem;
}

.right-Content {
    margin: 0rem 5rem;
}

.left-Content,
.right-Content {
    width: 40%;
    z-index: 2;
}

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
    margin-top: 3em;
    border-color: transparent transparent transparent #949494;
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #949494;
}

.fp-controlArrow.fp-prev {
   border-color: transparent #949494 transparent transparent; 
}

