---
---



//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file
  

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  max-height: 100%;
  max-width: 100%;
}

.widget{
	img{
		max-height: 40px;
		max-width: 40px;	
	}
}

body {
  color: $darkGray;
  background-color: $white;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
  color: $green;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}
.posts { 
  overflow: scroll;
  height: 100%;
}

.page {
	max-width: 90%;
}

.svg-icon:hover {
  opacity: 75;
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
	margin: 15px 0;
}

p,
a,
.post, 
.entry {
  font-family: $sans-serif;
}

a {
  color: $green;
  text-decoration: none;
	font-family: $sans-serif;
	cursor: pointer;
  &:hover, &:active {
    color: $orange;
  }
}

ul, ol {
	margin: 15px 0;
	padding-left: 30px;
	font-family: $sans-serif;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: 700;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $green;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 30px;

}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $sans-serif;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin: 23px 23px 0 0; // @TODO: Vertically middle align
  font-family: $sans-serif;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
	  margin: 20px 10px 0 10px;
	  color: $green;
	  text-align: right;
	  float: right;
	  font-weight: 300;
	  letter-spacing: 1px;
	  font-family: $sans-serif; 

    @include mobile {
      margin: 0 10px;
      color: $green;
    }
  }
}

aside { 
	&::-webkit-scrollbar {
		display: none;
	}

   @include mobile {
      display: none;
    }

}



//
// .main
//

.main {
	display: flex;
	justify-content: space-between;
	::-webkit-scrollbar { 
    	display: none; 
	}
}

.main-text {
	max-width: 80%;
	margin: 0;
   @include mobile {
      margin: 0;
      width: 100%;
      position: relative;
    }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  bottom: 0;
  width: inherit;
  left: 20%;
  right: 20%;
      @include mobile {
      margin: 0;
      width: 100%;
      left: 0;
      right: 0;
      position: relative;
    }
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
