// sizes
$breakpoint-sm: '(max-width: 40em)';
$breakpoint-md: '(min-width: 40em) and (max-width: 99.99em)';
$breakpoint-lg: '(min-width: 100em)';

body {
  color: $darkGray;
  background-color: $white;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 85vw;
}

.portfolio-section,
.section {
  min-height: 50vh;
  max-width: 85vw;
  margin: auto;
}

.portfolio-section {
  max-width: 100vw;
}

.border-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}