// sizes
$breakpoint-sm: '(max-width: 40em)';
$breakpoint-md: '(min-width: 40em) and (max-width: 99.99em)';
$breakpoint-lg: '(min-width: 100em)';

body {
  color: $darkGray;
  background-color: $bkg-white;
  margin: 0;
  padding: 0;
}

.container,
.section {
  margin: 0 auto;
  padding: 0;
  width: 85vw;
  max-width: 40rem;
  min-height: 100vh;
  &.full-width-bleed {
    max-width: 100vw;
    width: 100vw;
  }
}


.portfolio-section{
  // min-height: 25vh;
  max-width: 85vw;
  margin: auto;
}

.portfolio-section {
  max-width: 100vw;
}

.border-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dark-blue {
  background-color: $dark-blue;
}
.light-blue {
  background-color: $blue;
}
.blue-gray {
  background-color: $lite-blue;
}
.blue {
  background-color: $green;
}