$sizes: 0.5rem 1rem 2rem 4rem;
@for $size from 1 through length($sizes) {
  .mt#{$size} {
    margin-top: nth($sizes, $size);
  }
}

.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}