.skill-progress-bar {
  border: 1px solid blue;
}

.client-hover {
  position: relative;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 1px 0 $gray-10;
  &:hover {
    &:before {
      content: '';
      position: absolute;
      background-color: $green-10;
    }
  }
}