
//
// .main
//

.main {
	@include mobile {
    padding: 15px;
  }
}

.main-text {
	max-width: 80%;
	margin: 0;
   @include mobile {
      margin: 0;
      width: 100%;
      position: relative;
    }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $darkGray;
    padding: 0.1em 1em;
    color: $darkGray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.full-height {
  height: 95vh;
  &.full-width-circ {
    height: 95vh;
    max-height: 300px;
    max-width: 95vh;
  }
}


.col-1,
.width-100 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.34%;
}

.col-4 {
  width: 25%;
}

.portfolio-section {
  min-height: 75vh;
}

.bkg-blue {
  background-color: $blue;
}
.bkg-green {
  background-color: $green;
}
.bkg-dark-blue {
  background-color: $dark-blue;
}
.bkg-lite-blue {
  background-color: $lite-blue;
}

// SHAPES

.bkg-circ {
  border-radius: 100%;
  min-height: 300px;
  max-width: 300px;
}