// Colors

// Gray
$black: #222;
$darkGray: #666;
$orange: #F29F58;
$bkg-white: #f5f5fd;
$white: #fff;


$dark-blue: #0b132b;
$blue: #1c2541;
$lite-blue: #3a506b;
$green: #5bc0be;
$lite-green: #6fffe9;


// SHADES
$lite-green-100: rgba(111, 255, 233, 1);
$lite-green-90: rgba(111, 255, 233, 0.9);
$lite-green-80: rgba(111, 255, 233, 0.8);
$lite-green-70: rgba(111, 255, 233, 0.7);
$lite-green-60: rgba(111, 255, 233, 0.6);
$lite-green-50: rgba(111, 255, 233, 0.5);
$lite-green-40: rgba(111, 255, 233, 0.4);
$lite-green-30: rgba(111, 255, 233, 0.3);
$lite-green-20: rgba(111, 255, 233, 0.2);
$lite-green-10: rgba(111, 255, 233, 0.1);

$green-100: rgba(91, 192, 190, 1);
$green-90: rgba(91, 192, 190, 0.9);
$green-80: rgba(91, 192, 190, 0.8);
$green-70: rgba(91, 192, 190, 0.7);
$green-60: rgba(91, 192, 190, 0.6);
$green-50: rgba(91, 192, 190, 0.5);
$green-40: rgba(91, 192, 190, 0.4);
$green-30: rgba(91, 192, 190, 0.3);
$green-20: rgba(91, 192, 190, 0.2);
$green-10: rgba(91, 192, 190, 0.1);

$gray-100: rgba(117, 125, 133, 1);
$gray-90: rgba(117, 125, 133, 0.9);
$gray-80: rgba(117, 125, 133, 0.8);
$gray-70: rgba(117, 125, 133, 0.7);
$gray-60: rgba(117, 125, 133, 0.6);
$gray-50: rgba(117, 125, 133, 0.5);
$gray-40: rgba(117, 125, 133, 0.4);
$gray-30: rgba(117, 125, 133, 0.3);
$gray-20: rgba(117, 125, 133, 0.2);
$gray-10: rgba(117, 125, 133, 0.1);

// Font stacks

$sans-serif: 'Lato', sans-serif;
$serif: 'Girassol', serif;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
