
//
// VARIABLES
//

// Colors
$green: #45A649;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #666;
$orange: #F29F58;
$gray: #666;
$lightGray: #efefef;
$white: #fafafa;

// Font stacks
$sans-serif: "Affogato Regular", Arial, sans-serif;
$serif: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
