
//
// VARIABLES
//

// Colors
$orange: #ee8833;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #ccc;
$white: #efefef;

// Font stacks
$sans-serif: "Open Sans", Arial, sans-serif;
$serif: Cambria, Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}