
//
// VARIABLES
//

// Colors
$green: #45A649;

// Grays
$black: #222;
$darkGray: #666;
$orange: #F29F58;
$gray: #666;
$lightGray: #efefef;
$white: #fafafa;

// Font stacks
$sans-serif: 'Source Sans Pro', sans-serif;
$serif: 'Exo', serif;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
