---
layout: default
---
<section class="section bkg-blue full-width-bleed">
  <article class="column justify-center items-center">
    <div class="column justify-center items-center">
      <h1 class="h1 text-center white">Tim JK Strickland</h1>
      <h2 class="h2 text-center white">Building buttery smooth web interfaces for all modern browsers.</h2>
    </div>
  </article>
</section>
<section class="section">
  <article class="column justify-center items-center p4">
    <div class="column">
      <h3 class="h3 mt3">Tim JK Strickland has been working on a multitude of different web projects both solo and with companies for the past {{site.development_age}}.</h3>
    </div>
  </article>
  <article class="column row-justify-center items-center p4">
    <div class="row justify-between md-col-12">
      <div class="column md-col-4 text-center justify-center items-center">Javascript</div>
      <div class="column md-col-4 text-center justify-center items-center">Ruby</div>
      <div class="column md-col-4 text-center justify-center items-center">Docker</div>
    </div>
  </article>
  <article class="column row-justify-center items-center p4">
    <div class="column text-center justify-center items-center border-bottom my3 pt4 pb2 border-box">
      <h4 class="h4 serif">&ldquo;One of my many employees.&rdquo;</h4>
      <h5 class="h5">&mdash; Former boss</h5>
    </div>
    <div class="column text-center justify-center items-center border-bottom my3 pt4 pb2 border-box">
      <h4 class="h4 serif">&ldquo;Works hard, gifted. Will go the extra mile.&rdquo;</h4>
      <h5 class="h5">&mdash; Coworker</h5>
    </div>
    <div class="column text-center justify-center items-center border-bottom my3 pt4 pb2 border-box">
      <h4 class="h4 serif">&ldquo;You&rsquo;d be foolish to not hire him.&rdquo;</h4>
      <h5 class="h5">&mdash; Your future self</h5>
    </div>
  </article>
</section>
<section class="section">
  <h1 class="h1 center">Previous clients/employers</h1>
  <div class="row wrap width-100 px3 justify-center border-box">
    <div class="col-3 p2 client-hover row justify-center items-center border-box">
      {% include image.html file="logos/aura-icon.svg" url="https://auraframes.com" alt="Aura logo" %}
    </div>
    <div class="col-3 p2 client-hover row justify-center items-center border-box">
      {% include image.html file="logos/shopvida.png" url="https://shopvida.com" alt="Shop Vida" %}
    </div>
    <div class="col-3 p2 client-hover row justify-center items-center border-box">
      {% include image.html file="logos/vionic.png" url="https://vionicshoes.com" alt="Vionic logo" %}
    </div>
    <div class="col-3 p2 client-hover row justify-center items-center border-box">
      {% include image.html file="logos/sunrun.svg" url="https://auraframes.com" alt="Sunrun logo" %}
    </div>
    <div class="col-3 p2 client-hover row justify-center items-center border-box">
      {% include image.html file="logos/ws.svg" url="https://woodruffsawyer.com" alt="Sunrun logo" %}
    </div>
  </div>
</section>