<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WZ365GM');</script>
    <!-- End Google Tag Manager -->
    <script type="text/javascript">
      var host = "timjkstrickland.com";
      if ((host == window.location.host) && (window.location.protocol != "https:"))
          window.location.protocol = "https";
    </script>
<title>{% if page.title %}{{ page.title }} – {{ site.name }} {% else %} {{ site.name }} – {{ site.description }} {% endif %}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/assets/favicon/favicon@2x.png">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href="https://fonts.googleapis.com/css?family=Marcellus|Exo:400,700" rel="stylesheet">
  </head>

  <body>
    <header class="clearfix">
      <nav class="nav row items-center justify-end">
        <a href="/" class="bold nav__links mr-auto">TIMJKS</a>
        <a href="/blog" class="mr3 nav__links">Blog</a>
        <a href="/portfolio" class="mr4 nav__links">Portfolio</a>
      </nav>
    </header>

    <section id="main" role="main" class="container section main">
      {{ content }}
    </section>

    <div class="wrapper-footer">
      <footer class="footer">
        {% include svg-icons.html %}
      </footer>
    </div>

    {% include analytics.html %}
  </body>
</html>
