<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WZ365GM');</script>
    <!-- End Google Tag Manager -->
    <script type="text/javascript">
      var host = "timjkstrickland.com";
      if ((host == window.location.host) && (window.location.protocol != "https:"))
          window.location.protocol = "https";
    </script>
<title>{% if page.title %}{{ page.title }} – {{ site.name }} {% else %} {{ site.name }} – {{ site.description }} {% endif %}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/assets/favicon/favicon@2x.png">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href="https://fonts.googleapis.com/css?family=Marcellus|Exo:400,700" rel="stylesheet">
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZ365GM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
      <nav class="absolute top-0">
        <section class="container">
          <header class="masthead clearfix">

            <div class="site-info">
              <a href="{{ site.baseurl }}/"><h1>TIMJKS</h1></a>
            </div>

            <nav>
              <a href="{{ site.baseurl }}/portfolio">Portfolio</a>
            </nav>
          </header>
        </section>
      </nav>

      <div id="main" role="main" class="main">
        {{ content }}
      </div>
      <div class="wrapper-footer">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>

    {% include analytics.html %}
  </body>
</html>
