<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WZ365GM');</script>
    <!-- End Google Tag Manager -->
    <script type="text/javascript">
      var host = "timjkstrickland.com";
      if ((host == window.location.host) && (window.location.protocol != "https:"))
          window.location.protocol = "https";
    </script>
<title>{% if page.title %}{{ page.title }} – {{ site.name }} {% else %} {{ site.name }} – {{ site.description }} {% endif %}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/assets/favicon/favicon@2x.png">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href="https://fonts.googleapis.com/css?family=Girassol|Lato:400,400i,700,+700i&amp;display=swap"
      rel="stylesheet">
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZ365GM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section class="mx-auto white">
      <div class="border-box pt1">
      </div>
      <article class="section column items-center justify-center">
        <h1 class="primary text-center h1 mb0">Tim JK Strickland</h1>
        <h3 class="secondary h3 subheader">Background and Work</h3>
      </article>
    </section>
    <section class="mx-auto blue">
      <div class="border-box pt3">
        <h1 class="primary text-center h1 m0">Profile</h1>
      </div>
      <article class="section column items-center justify-center">
        <h2 class="primary text-center h2 mb0">Tim JK Strickland</h2>
        <h3 class="secondary h3 subheader">Web Developer</h3>
        <div class="md-col-12">
          {% assign today = site.time | date:'%s' %}
          {% assign today_month = site.time | date:'%m' %}
          {% assign start_date = site.developer_time | date:'%s' %}
          {% assign second_difference = today | minus: start_date %}
          {% assign year_difference = second_difference | divided_by: 31536000 %}
          {% assign modulus = today_month | divided_by: 14.0 | times: 100 | floor %}
          <h4 class="h4 m0">Tim has been working as an engineer for
            {{ year_difference }}.{{ modulus }}
            years</h4>
        </div>
      </article>
    </section>
    {% for section in site.sections %}
      <section class='mx-auto {{section.background}}'>
        <article class="section column items-center justify-center">
          {% if section.background == 'dark-blue' or section.background == 'light-blue' %}
          <h2 class="white text-center header h1">{{ section.title }}</h1>
          <h3 class="white h3 subheader">{{ section.description }}</h3>
          {% else %}
          <h1 class="primary text-center header h1">{{ section.title }}</h1>
          <h3 class="secondary h3 subheader">{{ section.description }}</h3>
          {% endif %}
        </article>
      </section>
    {% endfor %}
      <footer class="row justify-around items-center">
            {% include svg-icons.html %}
      </footer>
  </body>
</html>
