---
layout: default
---

<section class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- if post.categories contains "frontpage" -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%-d %B %Y" -%}
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
                <h4>
                  {{ post.excerpt }}
                </h4>
              {%- endif -%}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
            </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</section>
