---
layout: default
---
<section class="section">
  <div class="posts">
    {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>
    </article>
    {% endfor %}
  </div>
  <footer class="column justify-center items-center">
    <div class="border-top border-column justify-center items-center">
      <h4 class="h4 text-center">Tim JK Strickland</h4>
      <h5 class="h5 text-center">Building buttery smooth web interfaces for all modern browsers.</h5>
    </div>
  </footer>
</section>