---
layout: default
---

<!-- <div class="right">
<h3>Web Developer</h3>
<p>Skilled in HTML5, CSS3, and JavaScript, Tim JK creates websites for clients and himself alike. An advocate of open source technologies and the impending draw of virtual reality, Tim JK is excited about several projects including yours.</p>


<h3>Want to Work with Me?</h3>

<a href="timjkstrickland@gmail.com">timjkstrickland@gmail.com</a>

</div> -->
<div class="posts left">
   {% for post in site.posts %}
     <article class="post">
 
       <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
 
       <div class="entry">
       		<h4>{{ post.excerpt }}</h4>
       </div>
 
       <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
     </article>
   {% endfor %}
 </div>

 <!-- <div>Hi</div>
 <h1>TIMJK does a couple of things.</h1>
 <img src="http://lorempixel.com/50/50" alt="photography icon">
 <img src="http://lorempixel.com/50/50" alt="code icon"> -->
