<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>TIMJK Portfolio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Enriqueta|Exo:400,400i,700,900" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.fullpage/2.5.9/jquery.fullPage.min.css">
        <link rel="stylesheet" href="/style.css"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.fullpage/2.5.9/jquery.fullPage.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.fullpage/2.5.9/vendors/jquery.easings.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.fullpage/2.5.9/vendors/jquery.slimscroll.min.js"></script>
    </head>
    <body>
        <nav id="header" class="portfolio-nav">
            <ul>
                
                <li data-menuanchor="home"><a href="#top">Top</a></li>
                <li data-menuanchor="projects"><a href="#work">Work</a></li>
                <li data-menuanchor="projects"><a href="#projects">Projects</a></li>
                <li><a href="/">Back to Blog</a></li>
            </ul>
        </nav>
        <div id="fullpage">
            <div class="section fp-Flex fp-section fp-responsive">
                <img class="phopho" src="/images/IMG_0828.jpg" alt="">
                <div class="left-Content">
                    <!-- <div class="fp-Flex"> -->
                    <h1>Tim JK Strickland</h1>
                    <h3>Front End Engineer</h3>                
                <!-- </div> -->
                </div>
                <div class="right-Content">
                </div>
            </div>
            <div class="section fp-responsive fp-Flex">
                <div class="left-Content">
                    <h1>Freelance Developer, Vida</h1>
                    <a href="https://shopvida.com"><img src="/images/vida.png" alt="Screenshot of ShopVida"></a>
                </div>
                <div class="right-Content">
                    <h4>Details</h4>
                    <p>I built a customized web app for their Shopify store and styled several pages to fit within brand standards.</p>
                    <p>The web app enables users to now subscribe monthly to showcase one of their best works, creating additional revenue for Vida. It was fun building out the component</p>
                </div>
            </div>
            <div class="section fp-responsive fp-Flex">
                <div class="left-Content">
                    <h1>Freelance Front End Developer, RRRComputer</h1>
                    <img src="/images/rrr.png" alt="Screenshot of RRRComputer">
                </div>
                <div class="right-Content">
                    <h4>Details</h4>
                    <p>For RRR Computers, I've collaborated with the founder to boost SEO scores and restructure the architecture of the site to keep the user in mind at all times.</p>
                    <p>Using gtmetric as well as Google's Developer tools, I increased performance at every turn by structuring the build site to be first and foremost about the user.</p>
                </div>
            </div>
            <!-- <div class="section fp-responsive fp-Flex">
                <div class="left-Content">
                    <h1>MEAN stack Shopping Cart</h1>
                    <a href="/currencyconverter"><img src="/images/cc.jpg" alt="Screenshot of currency converter"></a>
                </div>
                <div class="right-Content">
                    <h4>Details</h4>
                    <p>I built  a MEAN stack developed shopping area using MongoDB to store Facebook login info and AngularJS to create the template pages.</p>
                    <p>This build utitlizes the Facebook OAuth login, the API from the movie database, and a Stripe plugin for checking out movies.</p>
                </div>
            </div>
            <div class="section fp-responsive fp-Flex">
                <div class="left-Content">
                    <h1>React-Redux API for Habitica</h1>
                    <a href="/currencyconverter"><img src="/images/cc.jpg" alt="Screenshot of currency converter"></a>
                </div>
                <div class="right-Content">
                    <h4>Details</h4>
                    <p></p>
                    <p>This build utitlizes the Facebook OAuth login, the API from the movie database, and a Stripe plugin for checking out movies.</p>
                </div>
            </div> -->
            <div class="section fp-responsive fp-Flex">
                <div class="left-Content">
                    <h1>Great First Dates</h1>
                    <a href="https://timjkstrickland.com/great-first-dates">
                    	<img src="http://dl.dropboxusercontent.com/s/1dhtkja0kgzpdrb/Screenshot%202016-05-31%2020.51.42.png?dl=0" height="300" alt="Screenshot of Great First Dates">
                  	</a>
                </div>
                <div class="right-Content">
                    <h4>Details</h4>
                    <p>I designed and built a single page web app utilizing HTML, CSS, jQuery, Bootstrap, and KnockoutJS.</p>
                    <p>The conceit was to keep it smarmy, so typography is playful and the palette is warm and bright.</p>
                </div>
            </div>
            <div class="section fp-responsive">
                <div class="left-Content">
                    <h1>Currency Converter</h1>
                    <a href="timjkstrickland.com/currencyconverter"><img src="/images/cc.jpg" alt="Screenshot of currency converter"></a>
                </div>
                <div class="right-Content">
                    <h4>Details</h4>
                    <p>Using jQuery and fixer.io, I developed a mobile friendly currency converter website. It takes in only numbers and rounds to the nearest cent.</p>
                </div>
            </div>
            <div class="section fp-responsive fp-Flex">
                <div class="slide fp-flex">
                	<div class="left-Content">
                        	<h1>Daily CSS Images</h1>
                        	<h3>Day 01: Cub</h3>
                    		<p data-height="360" data-width="400" data-slug-hash="egZBez" data-user="TimJKStrickland" data-embed-version="2" data-pen-title="Daily CSS #001: Cub (wolf-cub)" class="codepen"><a href="http://codepen.io/TimJKStrickland/pen/egZBez/">Daily CSS #001: Cub (wolf-cub)</a> by Tim JK Strickland (<a href="http://codepen.io/TimJKStrickland">@TimJKStrickland</a>) on <a href="http://codepen.io">CodePen</a>.</p>
                  			<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
        			</div>
        			<div class="right-Content">
                        <h1>Daily CSS Images</h1>
        				<h3>Day 02: Elephant</h3>
        				<p data-height="360" data-width="400" data-theme-id="0" data-slug-hash="BWReEV" data-default-tab="result" data-user="TimJKStrickland" data-embed-version="2" data-pen-title="Daily CSS Images 02: Elephant" class="codepen">See the Pen <a href="http://codepen.io/TimJKStrickland/pen/BWReEV/">Daily CSS Images 02: Elephant</a> by Tim JK Strickland (<a href="http://codepen.io/TimJKStrickland">@TimJKStrickland</a>) on <a href="http://codepen.io">CodePen</a>.</p>
                        <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
        			</div>
                </div>
                <div class="slide">
                    <div class="left-Content">
                        <h1>Daily CSS Images</h1>
                        <h3>Day 03: Beaver</h3>
                        <p data-height="360" data-width="300" data-theme-id="0" data-slug-hash="BWdmpx" data-default-tab="result" data-user="TimJKStrickland" data-pen-title="Daily CSS: 03 - Beaver" class="codepen">See the Pen <a href="http://codepen.io/TimJKStrickland/pen/BWdmpx/">Daily CSS: 03 - Beaver</a> by Tim JK Strickland (<a href="http://codepen.io/TimJKStrickland">@TimJKStrickland</a>) on <a href="http://codepen.io">CodePen</a>.</p><script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
                    </div>
                    <div class="right-Content">
                        <h1>Daily CSS Images</h1>
                        <h3>Day 04: Tiger <em>Coming Soon</em></h3>
                    </div>
                    <div>
                </div>
                <div class="slide fp-Flex">
                    <div class="left-Content">
                        <h1>Daily CSS Images</h1>
                        <h3>Day 05: Favorite Animated Animal <em>Coming Soon</em></h3>
                    </div>
                    <div class="right-Content">
                        <h1>Daily CSS Images</h1>
                        <h3>Day 06: Clock <em>Coming Soon</em></h3>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() { 
                $('#fullpage').fullpage({
                    //Navigation
                    menu: '#header',
                    lockAnchors: false,
                    anchors:['home', 'projects', 'about'],
                    navigation: true,
                    slidesNavigation: true,
                    slidesNavPosition: "bottom",
                    keyboardScrolling: true,
                    controlArrows: true,
                    verticalCentered: false,
                    sectionsColor : ['#f9f9f9', '#fff', '#f9f9f9'],
                    sectionSelector: '.section',
                    slideSelector: '.slide',
                    scrollingSpeed: 1000,
                    autoScrolling: true,
                    fitToSection: true,
                    scrollBar: true,
                    paddingTop: '2em',
                    touchSensitivity: 15,
                    responsiveWidth: 400,
                    normalScrollElementTouchThreshold: 5,
                    navigation: true,
                    navigationPosition: 'left',
                    slidesNavPosition: 'top'
                });
            });
        </script>
    </body>
</html>
