---
layout: default
---
  <!-- TODO: BUILD OUT HISTORY -->
  <section class="section row items-center justify-center">
    <div class="column justify-center items-center">
      <h1 class="h1 mb1">Clients</h1>
      <h4 class="h4">I've been working with clients for 5 years.</h4>
    </div>
  </section>
  <!-- TODO: BUILD OUT SKILLS -->
  <section class="section row items-center justify-center">
    <div class="column">
      <h1 class="h1 mb1">Projects</h1>
      <h4 class="h4">I've been working with clients for 5 years.</h4>
    </div>
  </section>
  <!-- TODO: BUILD OUT PROJECTS-->
  <section class="section row items-center justify-center">
    <div class="column">
      <h1 class="h1 mb1">Skills</h1>
      <div class="row">
        <h4 class="h4">Ruby</h4>
        <div class="skill-progress-bar--ruby"></div>
      </div>
      <div class="row">
        <h4 class="h4">Javascript</h4>
        <div class="skill-progress-bar--js"></div>
      </div>
      <div class="row ">
        <h4 class="h4">SASS/CSS</h4>
        <div class="skill-progress-bar--css"></div>
      </div>
      <div class="row">
        <h4 class="h4">CSS</h4>
        <div class="skill-progress-bar--css"></div>
      </div>
    </div>
  </section>