<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>TIMJK Portfolio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Enriqueta|Exo:400,400i,700,900" rel="stylesheet">
        <link rel="stylesheet" href="/style.css"> 
    </head>
  <body>
    <nav id="header" class="portfolio-nav">
        <ul>
            <li><a href="/">Back to Blog</a></li>
        </ul>
    </nav>
    <!-- TODO: BUILD OUT HISTORY -->
    <section class="section fp-Flex fp-section fp-responsive">
      <div class="left-Content">
        <h1>Tim JK Strickland</h1>
        <h3>Front End Engineer</h3>
      </div>
    </section>
    <!-- TODO: BUILD OUT SKILLS -->
    <section class="section fp-Flex fp-section fp-responsive">
      <div class="left-Content">
        <h1>Tim JK Strickland</h1>
        <h3>Front End Engineer</h3>
      </div>
    </section>
    <!-- TODO: BUILD OUT PROJECTS-->
    <section class="section fp-Flex fp-section fp-responsive">
      <div class="left-Content">
        <h1>Tim JK Strickland</h1>
        <h3>Front End Engineer</h3>
      </div>
    </section>
    <footer class="footer">
      {% include svg-icons.html %}
    </footer>
  </body>
</html>
